@font-face {
	font-family: 'Product Sans';
	src: url('../fonts/ProductSans-Regular/ProductSans-Regular.eot');
	src: local('Product Sans'), local('ProductSans-Regular'),
		url('../fonts/ProductSans-Regular/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProductSans-Regular/ProductSans-Regular.woff') format('woff'),
		url('../fonts/ProductSans-Regular/ProductSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}