@font-face {
	font-family: 'Product Sans';
	src: url('../fonts/ProductSans-Regular/ProductSans-Regular.eot');
	src: local('Product Sans'), local('ProductSans-Regular'),
		url('../fonts/ProductSans-Regular/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProductSans-Regular/ProductSans-Regular.woff') format('woff'),
		url('../fonts/ProductSans-Regular/ProductSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html, body{
	font-family: Product Sans;
	-webkit-font-smoothing: subpixel-antialiased
}
a{
	outline: 0;
    border: 0;
}

.loader{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.loader[state=false]{
	z-index: 0;
}

.loader .bg{
	position: absolute;
	top: 0;
    left: 0;
	right: 0;
	bottom: 0;
	background: #2e3a89;
    width: 100vw;
    height: 100vh;
	border-radius: 0px;
	transition: 0.5s;
}
.loader[state=false] .bg{
    transform: scale(10);
}
.loader label{
	opacity: 1;
	position: absolute;
    font-size: calc(1vw * 15);
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(5vw * 10.3);
    height: calc(5vw * 3);
    margin: auto;
    display: block;
	transition: 0.5s;
}
.loader[state=false] label{
	opacity: 0;
	transform: scale(10);
}


.site{
	user-select: none;
    top: 0;
    position: relative;
    width: 100%;
    margin: 0 auto;
	z-index: 5;
    transition: 0.5s;
}

.site .content_page{
	position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    height: auto;
    background: rgba(57, 73, 171, 0.8);
	padding: 0;
	transition: 0.5s;
}

.site .menu{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background: #3949AB;
    box-shadow: -20px 0 20px 20px rgba(0, 0, 0, 0.5);
	z-index: 99;
	transition: 0.5s;
}

.site .menu .logo{
	height: 11px;
    display: block;
    padding: 19.5px;
    color: #fff;
    text-align: center;
	background: rgba(0, 0, 0, 0.2);
}

.site .menu .min_logo{
	display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 19px auto;
    color: #fff;
}

.site .menu .mlist{
	position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 50px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    border-right: none;
}
.site .menu .mlist a{
	display: block;
    padding: 15.5px;
	cursor: pointer;
    transition: 0.3s;
}
.site .menu .mlist a:hover{
    background: rgba(0, 0, 0, 0.2);
}

.site .menu .social{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
}
.site .menu .social a{
	display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    padding: 10px;
	margin-left: -1.5px;
    margin-right: -1.5px;
	border-radius: 100%;
	transition: 0.3s;
}
.site .menu .social a img{
	width: 100%;
    border-radius: 50%;
	filter: grayscale(1);
	transition: 0.3s;
}
.site .menu .social a:hover{
    background: rgba(0, 0, 0, 0.2);
	border-radius: 0;
}
.site .menu .social a:hover img{
	filter: grayscale(0);
}

.site .menu[state=false] .blackbg{
	left: 100vw;
	opacity: 0;
}
.site .menu .blackbg{
	opacity: 1;
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.site .menu .mbutton{
	display: none;
	position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 64px;
    height: 50px;
	z-index: 1;
}
.site .menu .mbutton a{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
.site .menu .mbutton a i{
	padding: 12.5px;
    font-size: 25px;
}

.site .content_page .content{
	
}

.site .content_page[statebl=true]{
	/*filter: blur(10px);*/
}

/* history page */
.site .content_page .content .post{
	position: relative;
    display: block;
    width: calc(100vw - 50%);
    height: auto;
    margin: 25px auto;
    background: #3949ab;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
	transition: 0.5s;
}
.site .content_page .content .post .up{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 25px;
	padding-top: 30px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    color: #fff;
    text-shadow: 0 0 5px #000;
	z-index: 5;
	transition: 0.5s;
}
.site .content_page .content .post .up a{
	text-shadow: 0 0 #000;
    color: #3949ab;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.site .content_page .content .post .up text{   
    position: absolute;
    top: 25px;
    left: calc(100% / 2);
    right: 25px;
    padding: 5px;
	text-align: right;
}
.site .content_page .content .post .image{
	position: relative;
	width: 100%;
    height: 100%;
	margin-bottom: -10px;
	z-index: 2;
}
.site .content_page .content .post .image img{
	position: inherit;
    width: 100%;
    z-index: 0;
	transition: 0.5s;
}
.site .content_page .content .post .image .more{
	position: absolute;
    bottom: 20px;
    left: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #3949ab;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
}
.site .content_page .content .post .image .more i{
	font-size: 30px;
}
.site .content_page .content .post:hover .image .p_img{
	transform: scale(1.2);
}

.site .content_page .content .post .image .developers{
	position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.site .content_page .content .post .image .developers a{
	position: relative;
    float: right;
    display: block;
    width: 38px;
    height: 38px;
	margin: 10px;
    margin-left: -45px;
    margin-right: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}
.site .content_page .content .post .image .developers a:hover {
    z-index: 5;
}
.site .content_page .content .post .image .developers a img{
	position: absolute;
	border-radius: 50%;
}
.site .content_page .content .post .image .developers a label{
	opacity: 0;
    position: absolute;
    top: -30px;
    color: #000;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
    width: auto;
    height: auto;
    text-align: center;
    right: calc(-100%*2);
    padding: 3px 5px 0px 5px;
    margin: 0 auto;
    font-size: 13px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}
.site .content_page .content .post .image .developers a:hover label{
	opacity: 1;
    right: 0;
}
.site .content_page .content .post .info{
	position: absolute;
	top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    background: rgba(57, 73, 171, 0.9);
    z-index: 6;
	overflow: auto;
    transition: 0.5s;
}
.site .content_page .content .post .info .i_menu{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
}
.site .content_page .content .post .info .i_menu a{
	position: absolute;
    left: 25px;
    bottom: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    color: #3949ab;
    text-shadow: 0 0 #000;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}
.site .content_page .content .post .info .i_menu a i{
	padding: 13px;
}
.site .content_page .content .post .info p{
	position: absolute;
    top: 80px;
}


/* media */
@media screen and (max-width: 768px) {

}

@media screen and (orientation: portrait){
	.site .menu[state=false]{
		/* left: calc(-200px + 64px); */
		bottom: unset;
		height: 50px;
		width: 100%;
	}
	.site .menu[state=false] .logo,
	.site .menu[state=true] .min_logo,
	.site .menu[state=false] .mlist,
	.site .menu[state=false] .social{
		display:none;
	}
	.site .menu .mbutton{
		 display:block;
	}
	
	
	.site .content_page{
		left: 0px;
		padding: 50px 0 0 0;
	}
	
	.site .content_page .content .post{
		width: calc(100% - 30px);
	}
	.site .content_page .content .post .up{
		padding: 10px;
		padding-top: 15px;
		font-size: 13px;
	}

	.site .content_page .content .post .info{
		padding: 11px;
		font-size: 13px;
	}
	
	.site .content_page .content .post .image .developers a{
		right: -100%;
	}
	
	.site .content_page .content .post .up text{   
		top: 10px;
		right: 10px;
	}
}
