.content .posts{
width: 100%;
    height: auto;
    padding: 20px 0px;
    text-align: left;
}
.content .posts .post{           
	width: 100%;
    height: 320px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    background: #f1f1f1;
    box-shadow: 0 0 0px 0px rgb(0 0 0 / 0%);
    border-radius: 10px;
    transition: 0.3s;
}
.content .posts .post:hover{
	box-shadow: 0 0 10px 0px rgb(0 0 0 / 20%);
}	
.content .posts .post .title{
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 0;
	z-index: 5;
	color: #000;
}
.content .posts .post .title a{
	background: #f44336;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px rgb(0 0 0 / 30%);
	transition: 0.3s;
}
.content .posts .post .title a:hover{
	background: #b71c1c;
}

.content .posts .post .title .bottom{
	background: rgb(255 255 255 / 80%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
	box-shadow: 0 0 15px 5px rgb(0 0 0 / 30%);
}
.content .posts .post .title .bottom .category{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 30%;
    bottom: 0;
    padding: 13px;
}
.content .posts .post .title .bottom .category label{
	cursor: pointer;
	padding: 5px;
    background: #2196f3;
    border-radius: 5px;
    display: inline-block;
    height: 13px;
    line-height: 16px;
    color: #fff;
	transition: 0.3s;
}
.content .posts .post .title .bottom .category label:hover{
	background: #0d47a1;
}

.content .posts .post .title div text{
	position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #000;
}

.content .posts .post .img{
    display: block;
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: center;	
}
.content .posts .post .img div{
	width: 100%;
    height: 100%;
	transform: scale(1);
	transition:0.3s;
}

.content .posts .post:hover .img div{	
	transform: scale(1.2);
}
.content .posts .post .info{
	position: absolute;
    z-index: 5;
    bottom: 0;
    top: 0;
    left: 50%;
    right: 0;
    background: #f8f8f8;
}
.content .posts .post .info p{
	padding: 20px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.content .posts .post{ 
		height: 420px;
		width: calc(100% - 20px);
		margin: 0 10px;
		margin-bottom: 15px;
	}
	.content .posts .post .title
	{
		top: 0;
		left: 0;
		right: 0;
		bottom: 50%;
	}
	.content .posts .post .img{
		width: 100%;
		height: 50%;
	}
	.content .posts .post .info{
		bottom: 0;
		top: 50%;
		left: 0;
		right: 0;
	}
}